<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- section name="Filter" type="System.Configuration.DictionarySectionHandler"/-->
    <!--以NameValue键值/对的形式返回配置节中的信息-->
    <!--"System.Configuration.DictionarySectionHandler" -->
    <!--以Dictionary字典键值对的形式返回配置节中的信息-->
    <!--"System.Configuration.SingleTagSectionHandler" -->
    <!--基础结构。处理 .config 文件中由单个 XML 标记所表示的各配置节。-->
  </configSections>

  <appSettings>
    <clear />
    <add key="https://dictionary.cambridge.org" value="$('.unstyled.notification.banner').hide();$('#modal-login').hide();$('.overlay').hide();$('#ad_topslot_a').hide();$('body').css('padding-top', 0);$('h1').hide();$('.share').hide();$('di-head').hide();$('header').css('display', 'none');$('.cdo-hdr-bg').css('display','none');"/>
  </appSettings>

  <!--Name one="1" two="2" three="3" four="4" five="5" /-->
  <!--注意是要单个节SingleTagSectionHandler才能处理，但是无论你索性有多少个也能处理-->
</configuration>